.app {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.events {
  text-align: left;
  align-items: center;
  justify-content: center;
  margin-left: 20vh;
  margin-right: 20vh;
}

.event {
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 2vh;
}

.event:hover {
  background-color: #373c47;
}

.title {
  margin-top: -1vh;
}

.category-location {
  font-size: calc(3px + 2vmin);
  color: #e94152;
}

.distance {
  color: #e94152;
}

.date-price {
  font-size: calc(5px + 2vmin);
}

.detail {
  font-size: calc(2px + 2vmin);
}

.link {
  color: white;
  text-decoration: none;
}

.filters {
  margin-left: 10vh;
  margin-right: 10vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
}

.emoji {
  margin-left: 20px;
  margin-right: 20px;
}

.filter-emoji {
  margin-left: 20px;
  cursor: pointer;
}
