.app {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.events {
  text-align: left;
  align-items: center;
  justify-content: center;
  margin-left: 20vh;
  margin-right: 20vh;
}

.event {
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 2vh;
}

.event:hover {
  background-color: #373c47;
}

.title {
  margin-top: -1vh;
}

.category-location {
  font-size: calc(1px + 2vmin);
  color: #e94152;
}

.distance {
  color: #e94152;
}

.date-price {
  font-size: calc(5px + 2vmin);
}

.detail {
  font-size: calc(2px + 2vmin);
}

.link {
  color: white;
  text-decoration: none;
}

.filters {
  margin-left: 10vh;
  margin-right: 10vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------- */
/* - react  dropdown - */
/* ------------------- */

.arrow-closed,
.arrow-open {
  border: solid #999;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 10px;
}

.arrow-closed {
  top: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-open {
  top: 14px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: #282c34;
  border: 2px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
  max-width: 50vh;
  font-size: calc(5px + 2vmin);
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: white transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 20px;
  width: 0;
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent white;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: #282c34;
  border: 2px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  max-width: 50vh;
  font-size: calc(5px + 2vmin);
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1.2);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
  font-size: calc(5px + 2vmin);
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #373c47;
  color: white;
}

.Dropdown-option.is-selected {
  background-color: #373c47;
  color: white;
}
