.app {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.events {
  text-align: left;
  align-items: center;
  justify-content: center;
  margin-left: 20vh;
  margin-right: 20vh;
}

@media screen and (max-width: 1000px) {
  .events {
    margin-left: 5vh;
    margin-right: 5vh;
  }
}

.event {
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 2vh;
}

.event:hover {
  background-color: #373c47;
}

.title {
  margin-top: -1vh;
}

.category-location {
  font-size: calc(3px + 2vmin);
  color: #e94152;
}

.distance {
  color: #e94152;
}

.date-price {
  font-size: calc(5px + 2vmin);
}

.detail {
  font-size: calc(2px + 2vmin);
}

.link {
  color: white;
  text-decoration: none;
}

.filters {
  margin-left: 10vh;
  margin-right: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  width: 300px;
}

.emoji {
  margin-left: 20px;
  margin-right: 20px;
}

.filter-emoji {
  margin-left: 20px;
  cursor: pointer;
}

.refresh-button-wrapper {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.refresh-button {
  font-size: calc(1px + 2vmin);
  background-color: #282c34;
  border: 2px solid white;
  color: white;
  width: 15vw;
  height: 5vh;
  border-radius: 5px;
  cursor: pointer;
}

.refresh-button:hover {
  background-color: #373c47;
}

@media screen and (max-width: 700px) {
  .filters {
    margin-left: 5vh;
    margin-right: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .refresh-button {
    margin-left: 5vh;
    margin-right: 5vh;
    width: 80vw;
  }
}
